@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>Game Info</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="apple-touch-icon" href="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- font family -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- end font family -->
    <link rel="stylesheet" href="css/3dslider.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="js/3dslider.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<address>
    Dayton, Ohio 45234<br />
    <abbr title="Phone">Ph no.:</abbr>
    2037212657
    <br />
    <abbr title="Facebook">Facebook : </abbr>
    <a href="https://www.facebook.com/dayton.league.5" target="_blank">DPL DaytonPremierLeague</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">shivthogiti@gmail.com</a><br />

</address>

<div class="col-md-6">
    <div class="right_top_section">
        <!-- social icon -->
        <ul class="social-icons pull-left">
            <li><a class="facebook" href="https://www.facebook.com/dayton.league.5"><i class="fa fa-facebook"></i></a></li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
        <!-- end social icon -->
        <!-- button section -->
        @*<ul class="login">
                <li class="login-modal">
                    <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                </li>
                <li>
                    <div class="cart-option">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Register</a>
                    </div>
                </li>
            </ul>*@
        <!-- end button section -->
    </div>
</div>
