@page
@model AboutModel
@{
    ViewData["Title"] = "Leagues";
}
<div class="col-md-3">
    <ul>
        <br />
        <li><a href="~/DPL2021">DPLT10</a></li>
        @*<li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>*@
    </ul>
</div>


